.Home {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 90%;
  height: 550px;
  margin-left: 60px;
  margin-top: 60px;
  border-radius: 40px;
}
.Calendar {
  width: 99%;
  height: 540px;
  background-color: rgb(242, 243, 247);
  border-radius: 40px;
  margin-top: 5px;
}
